body {
  font-family: Arial, sans-serif;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.countdown div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.countdown div span {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}
